/* 

#212121 синий

#2196F3 черный

#757575 серый

 */

/*  */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* сбрасывает точки в списке */
.list {
  list-style: none;
}

.logo {
  color: var(--primary-text-color);
}
/* Site nav */
.page-header .link {
  color: var(--primary-text-color);
}

.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-color);
}

.page-header .link.current {
  color: var(--accent-color);
}

.site-nav li {
  display: inline;
  margin-right: 10px;
  padding: 5px;
}

.contact-nav {
  display: inline;
}

/* Шапка */
.hero {
}

.hero-title {
}

.section-list .title {
  color: var(--primary-text-color);
}

.section-list .text {
  color: var(--title-text-color);
}

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.work-list li {
  display: inline;
  margin-right: 10px;
  padding: 5px;
}
.section-list li {
  display: inline-flexbox;
  margin-right: 10px;
  padding: 5px;
}
